//@import "~bootstrap/scss/bootstrap";

$content-spacing: 20px;
$topbar-spacing: 15px;

html, body {
  height: 100vh;
  width: 100vw;;
  margin: 0;
  padding: 0;
  color: white;
}

.topbar {
  height: 70px;
  background-color: #111;

  img {
    height: 40px;
    margin: $topbar-spacing $content-spacing;
  }
}

.content {
  position: absolute;
  top: 70px;
  bottom: 50px;
  left: 0;
  right: 0;
  color: black;

  .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;

    .image {
      position: relative;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% auto;
    }

    .text {
      width: 100%;
      margin-top: 20%;
      display: inline-block;
      text-align: center;
    }
  }
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 50px;
  background-color: #111;
  align-items: center;

  p {
    margin-left: $content-spacing;
    vertical-align: middle;
  }
}
